<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
	
	<bean id = "yoona" class = "com.sjf.bean.Student" >
		<property name="name" value="yoona"/>
		<property name="age" value="24"/>
	</bean>
	
	<bean id = "school" class="com.sjf.bean.School">
		<property name="name" value="西安电子科技大学"/>
		<property name="location" value="西安"/>
	</bean>
</beans>
