<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.sjf.mapper.TeacherMapper">

	<resultMap id = "CourseResultMap" type="com.sjf.bean.Course" >
		<id property="ID" column="ID"/>
		<result property="name" column="name"/>
		<result property="desc" column="description"/>
	</resultMap>
	
	<select id="getCourseByID" parameterType="int" resultMap="CourseResultMap"> 
    	SELECT * FROM Course WHERE teacherID = #{teacherID} 
  	</select>
	
	<resultMap id="TeacherWithCourseResultMap" type="com.sjf.bean.Teacher" >
		<id property="ID" column="ID"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<collection property = "courses" column = "ID" select = "getCourseByID"/>
	</resultMap>
	
	<select id="getTeacherWithCourseByID" parameterType="int" resultMap="TeacherWithCourseResultMap"> 
    	SELECT * FROM Teacher WHERE ID = #{ID} 
  	</select>
</mapper> 